@font-face {
    font-family: 'fauxgreeks';
    src: url('fauxgreeks.woff2'),
        url('auxgreeks.woff');
}

@font-face {
    font-family: 'madeleinasans';
    src: url('madeleinasans.woff2'),
        url('madeleinasans.woff');
}

.subheader{
	font-family: fauxgreeks;
	margin: 10px;
	font-size:25px;
	font-weight:bold;

}

.subheader2{
	font-family: fauxgreeks;
	margin-left:30px;
	font-size: 20px
}

p {
	font-family: madeleinasans;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
	letter-spacing: 0
	line-height: 1.4;

}

.articletitle{
	font-family: madeleinasans;
	font-size: 50px;
	letter-spacing: 20px;
	font-weight: bold;
	margin-left: 10px;
	padding-top: 30px;
}

.indented{
	font-family: madeleinasans;
	font-size: 20px;
	padding-left: 100px;
	padding-right:100px;
	letter-spacing: 0
	line-height: 1.4;
	font-weight: lighter;
}